*{
    margin: 0;
}

.main{
    
    display: flex;
    width: 100%;
    border: 1px black solid;
    border-radius: 1px;
}
.grey {
    background-color: grey;
}

div{
    display: flex;
    flex-direction: row;
  
    align-items: flex-end;}