*{
  box-sizing: border-box;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  font-family: 'Goldman', cursive;
  font-size: 15px;
}
body{
  margin-top: 20px;
}

.sourcediv{
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 5px;
  border: black solid 1px;
  width: 500px;
  height: 650px;
  
  
  background-color: aliceblue;
}

.snake_whole_field{
  border-radius: 20px;
  border: black solid 1px;
  width: 490px;
  height: 630px;
  margin: 0 auto;
  padding: 33px;
  background-color: rgb(116, 222, 222);
}

/*  */
.snake_game_field_class{
  border-radius: 6px;
  border: black solid 2px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 1px;
  grid-auto-flow: row;
  background-color: black;
  grid-template-columns: repeat(20, 1fr);
  position: relative;
  margin-bottom: 5px;
  
}

/* js  */

.class1{
  width: 20px;
  height: 20px;
  border-top-right-radius : 0px;
}

.head{
  --x:0;
  --y:0;
  
  border-radius: 1px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: aqua;
  top: calc(21px* ( 0 + var(--y) ) );
  left: calc(21px* ( 0 + var(--x) ) );
  /* left: 21px;  default param value*/
  border: 1px solid black;
  transition: 0.1s;
  z-index: 9;
}
.body{
  position: absolute;
  
  
  width: 20px;
  height: 20px;
  background-color: aqua;
  top: calc(21px* ( 0 + var(--y) ) );
  left: calc(21px* ( 0 + var(--x) ) );
}


/* support_field */
.support_field{
  position: relative;
  width: auto;
  min-height: 22px;
  height: auto;
  /* background-color: rgb(242, 191, 191); */
  margin-bottom: 5px;
  background-color: brown;
}

.score{
  height: fit-content;
  top: 2px;
  left: 166px;
  position: absolute;
  
  /* background-color: rgb(236, 236, 78); */
}
.speed{
  height: fit-content;
  position: absolute;
  top: 2px;
  left: 15px;
}
.pause{
  height: fit-content;
  position: absolute;
  top: 2px;
  right: 15px;

}

/* button */
.snake_button_field {
  
  width: auto ;
  height: 140px;
  text-align: center;
  position: relative;
  border: 2px solid black;
}


button{
  cursor: pointer;
  width: fit-content;
  background: rgb(235, 235, 65);
  height: fit-content;


}
.but_start{ 
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  top: 25px;
  left: 50px;
}
.but_left{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  top: 25px;
  right: 100px;
}

.but_right{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  top: 60px;
  right: 50px;
}



