*{
  box-sizing: border-box;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  font-family: 'Goldman', cursive;
  font-size: 13px;
}
body{
  margin-top: 20px;
  width: 500px auto;
  height: 650px;
  margin: 0;
}

.sourcediv{
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 5px;
  border: black solid 1px;
  min-width: 500px;
  min-height: 650px;
  background-color: rgb(116, 222, 222);
}

.snake_whole_field{
  border-radius: 20px;
  border: black solid 1px;
  min-width: 490px;
  min-height:  630px;
  margin: 0 auto;
  padding: 33px;
  background-color: rgb(116, 222, 222);
}

/*  */
.snake_game_field_class{
  border-radius: 6px;
  border: black solid 2px;
  width: fit-content ;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 1px;
  grid-auto-flow: row;
  background-color: black;
  /* grid-template-columns: repeat(20, 1fr); */
  position: relative;
  margin-bottom: 5px;
  
}

/* js  */

.class1{
  width: 20px;
  height: 20px;
  border-top-right-radius : 0px;
}

.head{
  --x:0;
  --y:0;
  
  border-radius: 1px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  top: calc(21px* ( 0 + var(--y) ) );
  left: calc(21px* ( 0 + var(--x) ) );
  border: 1px solid black;
  transition: 0.1s ;
  z-index: 9;
}
.body{
  transition: 0.1s ease-in-out;
  position: absolute;
  border: 0.5px solid black;
  border-radius: 1px;
  width: 20px;
  height: 20px;
  background-color: white;
  top: calc(21px* ( 0 + var(--y) ) );
  left: calc(21px* ( 0 + var(--x) ) );
}


/* support_field */
.support_field{
  position: relative;
  width: auto;
  min-height: 22px;
  height: auto;

  margin-bottom: 5px;
  background-color: rgb(116, 222, 222);
}

.score{
  height: fit-content;
  top: 2px;
  left: 166px;
  position: absolute;
  background-color: rgb(116, 222, 222);
 
}
.speed{
  height: fit-content;
  position: absolute;
  top: 2px;
  left: 15px;
  background-color: rgb(116, 222, 222);
}
.pause{
  height: fit-content;
  position: absolute;
  top: 2px;
  right: 15px;
  background-color: rgb(116, 222, 222);
  visibility: hidden;
}

/* button */
.snake_button_field {
  
  width: auto ;
  height: 130px;
  text-align: center;
  position: relative;
  background-color: rgb(116, 222, 222);
  border-radius: 8px;
}


button{
  cursor: pointer;
  width: fit-content;
  background: rgb(235, 235, 65);
  height: fit-content;
  transition: 1s;
}

.but_start{ 
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  top: 25px;
  left: 30px;
}
.but_left{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  top: 25px;
  right: 80px;
}

.but_right{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  top: 60px;
  right: 30px;
}

.but_pause{
  position: absolute;
  min-width: 60px;
  min-height: 20px;
  border-radius: 15px;
  left: 180px;
  top: 50px;
}

.volume{
  border-radius: 6px;
  position: absolute;
}
/* .volume, .but_pause , */
 button:hover {
  background-color:  rgb(201, 201, 52);
  transform:translateY(-5px);
  transition: 1s;

}
.dead_souls{
  /* visibility: visible; */
 
  transition: 2s; 
  visibility: hidden;
  opacity: 1;
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 50px;

  background-color: rgba(0,0, 0, 0);
  color: rgb(198, 34, 34);
  text-shadow: -1px 0 white, 0 1px white,
                1px 0 white, 0 -1px white;
  text-shadow: 0 0 0.2em DarkOrange, 0 0 0.2em black,
                0 0 0.2em DarkOrange;
 
}
/* .dead_souls_visible{
  transition: 1s;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 50px;

  background-color: rgba(0,0, 0, 0);
  color: rgb(198, 34, 34);
  text-shadow: -1px 0 white, 0 1px white,
                1px 0 white, 0 -1px white;
  text-shadow: 0 0 0.2em DarkOrange, 0 0 0.2em black,
                0 0 0.2em DarkOrange;
} */