*{
  box-sizing: border-box
  ;background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

.source_div{
  border: black solid 1px;
  width: 500px;
  height: 600px;
  padding: 2px;
  background-color: aliceblue;
}

.snake_whole_field{
  border: black solid 1px;
  width: 490px;
  height: 590px;
  margin: 0 auto;
  padding: 2px;
  background-color: azure;
}

.snake_game_field_class{
  border: black solid 2px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 1px;
  grid-auto-flow: row;
  background-color: black;
  grid-template-columns: repeat(20, 1fr);
  position: relative;
  margin-bottom: 15px;
}

button{
  cursor: pointer;
  width: 50px;
  height: 30px;
}

.snake_button_field {
  text-align: center;
}

.class1{
  width: 20px;
  height: 20px;
}

.head{
  --x:0;
  --y:0;
  
  border-radius: 5px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: aqua;
  top: calc(21px* ( 0 + var(--y) ) );
  left: calc(21px* ( 0 + var(--x) ) );
  /* left: 21px;  default param value*/
  border: 1px solid black;
  transition: 0.1s;
}
.body{
  position: absolute;
  
  
  width: 20px;
  height: 20px;
  background-color: aqua;
  top: calc(21px* ( 0 + var(--y) ) );
  left: calc(21px* ( 0 + var(--x) ) );
}

.score{
  background-color: beige;
}